= form_for :table_viewer, { url: table_viewer_path, method: :post }.merge(html) do |f|
  - if hidden
    = f.hidden_field :name
    = f.hidden_field :table
  - else
    = f.text_field :name
    = f.text_field :table
  = f.hidden_field :page
  - if page_inc != 0
    = f.hidden_field :page_inc, value: page_inc
  = f.submit(submit_text)
