#table_viewer
- if @table_viewer && @table_viewer.valid?
  %table.tables
    %thead
      %tr
        - @table_viewer.fields.each do |f|
          %div
            %th= f
    %tbody
      - @table_viewer.results.each do |result|
        %tr
          - result.each do |k, v|
            %td= v

  #nav_links
    = render 'form', html: { html: { id: 'previous_button' } }, submit_text: 'previous', page_inc: -1, hidden: true
    = render 'form', html: { html: { id: 'next_button' } }, submit_text: 'next', page_inc: 1, hidden: true
