!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 'Carto Table Viewer'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - flash.each do |key, value|
      %div{class: "flash-#{key}"}= value

    #new_table_viewer
      %h1= 'Carto Table Viewer'
      #table_viewer_form
        = render 'form', html: {}, submit_text: 'load data', hidden: false, page_inc: 0

      = yield
